#Pandas Exercise

We have a data about spotify top 100 songs in 2018 from kaggle.

Data Description :

*   Spotify URI for the song
*   Name of the song
*   Artist(s) of the song
*   Audio features for the song (such as danceability, tempo, key etc.) : 
     1. danceability : Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.
     
     2. tempo : The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
     
     3. duration_ms : The duration of the track in milliseconds.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/irfancndr/statsuiibootcamp/master/dataset/top_100songs_2018.csv')

In [48]:
data.head(5)

,Unnamed: 0,id,name,artists,danceability,tempo,duration_ms
0,0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,77.169,198973.0
1,1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,75.023,166606.0
2,2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,159.847,218147.0
3,3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,140.124,221440.0
4,4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,91.030,217925.0

## Show Top 10 artists with the largest presence in the top 100 spotify songs in 2018

In [49]:
data['artists'].value_counts().head(10)

Post Malone      6
XXXTENTACION     6
Drake            4
Marshmello       3
Ed Sheeran       3
Calvin Harris    2
Migos            2
Dua Lipa         2
Khalid           2
Ariana Grande    2
Name: artists, dtype: int64

##What is the longest duration of the top 100 spotify songs in 2018 ?

In [50]:
data['duration_ms'].max()

417920.0

## Who and what songs has the longest duration of the top 100 spotify songs in 2018 ?

In [ ]:
data[data]

In [12]:
indmax = data['duration_ms'].argmax()
data.loc[[indmax],['artists','name']]

       artists             name
21  Nio Garcia  Te Bot? - Remix

## Show the total duration from the artists in the top 100 spotify songs in 2018 !

In [103]:
byar = data.groupby('artists')
dur = byar['duration_ms'].sum().sort_values(ascending=False).head(100)
dur

artists
Post Malone          1342027.0
Drake                 866259.0
XXXTENTACION          784703.0
Ed Sheeran            756663.0
Marshmello            597734.0
                       ...
Portugal. The Man     163253.0
Loud Luxury           163216.0
Dennis Lloyd          156600.0
Lil Baby              142273.0
Bazzi                 131064.0
Name: duration_ms, Length: 70, dtype: float64

## Who artists has the average fastest tempo in the top 100 spotify song 2018 ?

In [99]:
byar = data.groupby('artists')
tempo = byar['tempo'].mean().sort_values(ascending=False).head(100)
tempo

artists
Maluma               198.075
Keala Settle         191.702
Nicky Jam            180.073
ZAYN                 180.043
Piso 21              170.019
                      ...
benny blanco          89.391
G-Eazy                87.908
Juice WRLD            83.903
Natti Natasha         79.997
Portugal. The Man     79.028
Name: tempo, Length: 70, dtype: float64

## Who artists has the average danceable songs in the top 100 spotify song 2018 ?

In [97]:
byar = data.groupby('artists')
dance = byar['danceability'].mean().sort_values(ascending=False).head(100)
dance

artists
Lil Baby         0.964
6ix9ine          0.931
BlocBoy JB       0.922
Wolfine          0.909
Nio Garcia       0.903
                 ...
DJ Khaled        0.552
Juice WRLD       0.511
Billie Eilish    0.351
Keala Settle     0.284
ZAYN             0.258
Name: danceability, Length: 70, dtype: float64

## Can we achieve the information from the last 3 exercise in just 1 line ?

In [132]:
res = pd.DataFrame()
res['artists'] = art
res['duration_ms'] = dur
res['danceability'] = dance
res['tempo'] = tempo
res.drop('index',axis=1,inplace=True)
res

              artists  duration_ms  danceability       tempo
0         Post Malone    1342027.0      0.643667  148.686500
1               Drake     866259.0      0.771750  104.144000
2        XXXTENTACION     784703.0      0.788833  110.496000
3          Ed Sheeran     756663.0      0.670333   95.339667
4          Marshmello     597734.0      0.611000  112.355000
..                ...          ...           ...         ...
65  Portugal. The Man     163253.0      0.801000   79.028000
66        Loud Luxury     163216.0      0.752000  121.958000
67       Dennis Lloyd     156600.0      0.592000   99.976000
68           Lil Baby     142273.0      0.964000  119.958000
69              Bazzi     131064.0      0.710000  142.929000

[70 rows x 4 columns]